<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body>
<div style="margin-top: 50px"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
			 <form  th:object="${recipe}" th:action="@{/recipe/}"  method="post">
				<div class="card border-success">
					<div class="card-header">
						<h1 class="card-title" th:text="'Edit Recipe Information'">Recipe</h1>
					</div>
					<div class="card-body">
					<input type="hidden" th:field="*{id}"/>
					<label>Description</label>
						<input type="text" class="form-control" th:field="*{description}"/>
						
					<label>Prep Time:</label>
                    	<input type="text" class="form-control" th:field="*{prepTime}"/>
                   	<label>Cooktime:</label>
                        <input type="text" class="form-control" th:field="*{cookTime}"/>
                    <label>Servings:</label>
                        <input type="text" class="form-control" th:field="*{servings}"/>
                        <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
					</div>
				</div>
				<div style="margin-top: 50px"></div>
				<div class="card border-success">
					<div class="card-header">
						<h1 class="card-title" th:text="'Description and Notes'">Description and Notes</h1>
					</div>
					<div class="card-body">
					 
						 <label>Description:</label>
						<textarea class="form-control" rows="3" th:field="*{directions}"></textarea>
						 <label>Notes:</label>
						 <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
					</div>
				</div>
				<div style="margin-top: 20px"><button type="submit" class="btn btn-primary">Submit</button></div>
				</form>
				<div style="margin-top: 50px"></div>
			</div>
		</div>
	</div>
	
</body>
</html>