<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body>
	<div style="margin-top: 50px"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card border-success">
					<div class="card-header">
						<h1 class="card-title" th:text="'Recipe #' + ${recipe.id}">Recipe</h1>
					</div>
					<div class="card-body">
						<h6>ID</h6>
						<div th:text="${recipe.id}"></div>
						<h6>Description</h6>
						<div th:text="${recipe.description}"></div>					
						<h6>Directions</h6>
						<div th:text="${recipe.directions}"></div>
							<h6>Ingredients</h6>
							<ol>
								<li th:each="ing : ${recipe.ingredients}" th:text="${ing.getDescription()} "></li>			
							</ol>
							<h6>Categories</h6>
							<ol>
								<li th:each="cat : ${recipe.categories}" th:text="${cat.getDescription()} "></li>
							</ol>
						<h6>Notes</h6>
							<div th:text="${recipe.notes.getRecipeNotes()}"></div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</body>
</html>